// Sassy
$enable-grid-classes: false;
$enable-cssgrid: true;

@import "../../vendor/stylesheets/bootstrap/scss/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "../../vendor/stylesheets/bootstrap/scss/functions";
@import "../../vendor/stylesheets/bootstrap/scss/variables";
@import "../../vendor/stylesheets/bootstrap/scss/variables-dark";
@import "../../vendor/stylesheets/bootstrap/scss/maps";
@import "../../vendor/stylesheets/bootstrap/scss/mixins";
@import "../../vendor/stylesheets/bootstrap/scss/utilities";

// Layout & components
@import "../../vendor/stylesheets/bootstrap/scss/root";
@import "../../vendor/stylesheets/bootstrap/scss/reboot";
@import "../../vendor/stylesheets/bootstrap/scss/type";
@import "../../vendor/stylesheets/bootstrap/scss/images";
@import "../../vendor/stylesheets/bootstrap/scss/containers";
@import "../../vendor/stylesheets/bootstrap/scss/grid";
@import "../../vendor/stylesheets/bootstrap/scss/tables";
@import "../../vendor/stylesheets/bootstrap/scss/forms";
@import "../../vendor/stylesheets/bootstrap/scss/buttons";
@import "../../vendor/stylesheets/bootstrap/scss/transitions";
@import "../../vendor/stylesheets/bootstrap/scss/dropdown";
@import "../../vendor/stylesheets/bootstrap/scss/button-group";
@import "../../vendor/stylesheets/bootstrap/scss/nav";
@import "../../vendor/stylesheets/bootstrap/scss/navbar";
@import "../../vendor/stylesheets/bootstrap/scss/card";
@import "../../vendor/stylesheets/bootstrap/scss/accordion";
@import "../../vendor/stylesheets/bootstrap/scss/breadcrumb";
@import "../../vendor/stylesheets/bootstrap/scss/pagination";
@import "../../vendor/stylesheets/bootstrap/scss/badge";
@import "../../vendor/stylesheets/bootstrap/scss/alert";
@import "../../vendor/stylesheets/bootstrap/scss/progress";
@import "../../vendor/stylesheets/bootstrap/scss/list-group";
@import "../../vendor/stylesheets/bootstrap/scss/close";
@import "../../vendor/stylesheets/bootstrap/scss/toasts";
@import "../../vendor/stylesheets/bootstrap/scss/modal";
@import "../../vendor/stylesheets/bootstrap/scss/tooltip";
@import "../../vendor/stylesheets/bootstrap/scss/popover";
@import "../../vendor/stylesheets/bootstrap/scss/carousel";
@import "../../vendor/stylesheets/bootstrap/scss/spinners";
@import "../../vendor/stylesheets/bootstrap/scss/offcanvas";
@import "../../vendor/stylesheets/bootstrap/scss/placeholders";

// Helpers
@import "../../vendor/stylesheets/bootstrap/scss/helpers";

// Utilities
@import "../../vendor/stylesheets/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

//@import "../../vendor/stylesheets/bootstrap/scss";

@import "vidstack/theme";
@import "vidstack/audio";

.accordion {
  --bs-accordion-active-color: var(--bs-gray-100);
  --bs-accordion-active-bg: var(--bs-gray-600);
}

.accordion-button::after {
  background-color: #fff;
  padding: 1rem;
  background-position: center;
  border-radius: 50%;
}

turbo-frame {
  display: contents;
}

media-captions {
  z-index: 10;
  bottom: 0;
  transition: bottom 0.15s linear;

  /* CSS variables available for customization. */
  /* Remove any you don't need, default values are shown below. */
  --media-captions-padding: 1%;
  --media-cue-backdrop: blur(8px);
  --media-cue-bg: rgba(0, 0, 0, 0.7);
  --media-cue-border-radius: 2px;
  --media-cue-border: unset;
  --media-cue-box-shadow: var(--cue-box-shadow);
  --media-cue-color: white;
  --media-cue-display-bg: unset;
  --media-cue-display-border-radius: unset;
  --media-cue-display-padding: unset;
  --media-cue-font-size: calc(var(--overlay-height) / 100 * 4.5);
  --media-cue-line-height: calc(var(--cue-font-size) * 1.2);
  --media-cue-padding-x: calc(var(--cue-font-size) * 0.4);
  --media-cue-padding-x: calc(var(--cue-font-size) * 0.6);
}

/* Pull captions up when controls are visible. */
media-player[data-controls] media-captions {
  bottom: 80px;
}

/* Hide captions when interacting with time slider. */
media-player[data-preview] media-captions {
  opacity: 0;
}

.media-player[data-view-type="video"] {
  aspect-ratio: 16 / 9;
}

.media-player[data-view-type="audio"] {
  aspect-ratio: 3/1;
}

.vds-video-layout {
  --video-brand: hsl(0, 0%, 96%);
  /* Layout: https://vidstack.io/docs/player/components/layouts/default-layout#video-layout  */
  /* Components: https://www.vidstack.io/docs/player/components/layouts/default-layout#components */
}

.vds-audio-layout {
  --audio-brand: hsl(0, 0%, 96%);
  /* Layout: https://vidstack.io/docs/player/components/layouts/default-layout#audio-layout */
  /* Components: https://www.vidstack.io/docs/player/components/layouts/default-layout#components */
}

.plyr {
  --plyr-color-main: hsl(198, 100%, 50%);
  --plyr-video-controls-background: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75));
  /* CSS Vars: https://vidstack.io/docs/player/components/layouts/plyr-layout#css-variables */
}

.vds-audio-layout .vds-play-button {
  --default-color: var(--default-brand);
}
