<%= turbo_frame_tag dom_id(@podcast,'sync-link') do %>

  <div class="btn-group my-2" role="group" aria-label="Edit Podcast" >
    <%= link_to "Just downloading ...", download_metadata_now_podcast_path(@podcast),
            class:"btn btn-outline-primary btn-disabled",
            data: { turbo_prefetch: false } %>
  </div>
<% end %>
